body{
    main{
        .texto_cabeza{
            .titulo_pagina_tour{
                font-weight: 300;
                font-size: 40px;
                margin: 20px 0px 0px 0px;
            }
        }
    }
}